/**
 * Fastn placeholder types for connectors not yet installed.
 *
 * Run `fastn connector add <connector>` to get full autocomplete.
 */

{% for connector in connectors %}
/**
 * {{ connector.display_name }} ({{ connector.category }}).
 *
 * Run `fastn connector add {{ connector.name }}` to enable full autocomplete.
 */
export declare class {{ connector.class_name }} {
    [method: string]: (...args: any[]) => Promise<Record<string, any>>;
}

{% endfor %}
